@import 'reset';
@import 'normalize';
@import 'transitions';
@import '../vars/index';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --padding-sides: $padding-sides;
}

body {
  margin: 0;
  color: $color-text;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: auger-mono, monospace;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}

a {
  text-decoration: none;
  color: $color-link;
  outline: none;
  cursor: pointer;
}

.hover-line {
  overflow: hidden;
  position: relative;
}

.hover-line::before {
  content: '';
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 92%;
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.hover-line:hover::before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
}

a:hover {
  text-decoration: none;
  color: $color-link-hover;
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}
