.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transform: none;
  transition: all 1s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(25%);
}

@keyframes weight {
  0% {
    text-shadow: 0px 0px 0 $color-text, 0px 0px 0 $color-text, 0px 0px 0 $color-text, 0px 0px 0 $color-text;
  }
  100% {
    text-shadow: -0.4px -0.4px 0 $color-text, 0.4px -0.4px 0 $color-text, -0.4px 0.4px 0 $color-text,
      0.4px 0.4px 0 $color-text;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
