@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Major+Mono+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

$major-mono: 'Major Mono Display', monospace;
$yeseva-one: 'Yeseva One', serif;
$ibm-plex: 'IBM Plex Mono', sans-serif;

$noto: 'Noto Sans', sans-serif;
$noto-serif: 'Noto Serif Display', serif;
