@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

$major-mono: 'Major Mono Display', monospace;
$yeseva-one: 'Yeseva One', serif;
$ibm-plex: 'IBM Plex Mono', sans-serif;

$noto: 'Noto Sans', sans-serif;
$noto-serif: 'Noto Serif Display', serif;
