$color-text: #131313;
$color-bg: #fff;
$color-link: #000;
$color-link-hover: #131313;
$padding-sides: 2rem;
$padding-row: 1rem;
$color-row-border: #f0f0f0;
$color-bg-row-hover: #f0f0f0;
$color-text-alt: #000;
$image-gap: 1vw;
$image-gap-large: 2vw;
$img-size: 5vw;
$img-size-large: 14vw;
$img-size-xlarge: 28vw;

$ft-s-xxsmall: 0.75rem; // 12px
$ft-s-xsmall: 1rem; // 16px
$ft-s-small: 1.25rem; // 20px
$ft-s-medium: 1.5rem; // 24px
$ft-s-large: 2rem; // 32px
$ft-s-xlarge: 3rem; // 48px
