$color-text: #5a5450;
$color-bg: #f2eae0;
$color-link-blue: #a37e57;
$color-link-hover-blue: #c49768;
$color-link-pink: #b5886a;
$color-link-hover-pink: #8a6349;
$color-light-blue: #d1b39f;
$color-light-pink: #e2c5b3;

$color-row-border-pink: #b58d6e;
$color-row-border-blue: #9a775a;
$color-bg-row-hover-pink: #e6d5c2;
$color-bg-row-hover-blue: #dac8b6;

$padding-sides: 2rem;
$padding-row: 1rem;
$image-gap: 1vw;
$image-gap-large: 2vw;
$img-size: 5vw;
$img-size-large: 14vw;
$img-size-xlarge: 28vw;

$ft-s-xxsmall: 0.75rem; // 12px
$ft-s-xsmall: 1rem; // 16px
$ft-s-small: 1.25rem; // 20påx
$ft-s-medium: 1.5rem; // 24px
$ft-s-large: 2rem; // 32px
$ft-s-xlarge: 3rem; // 48px
